.sidenav {
  min-width: 150px;
  max-width: 35%;
  padding: 0 16px;

  .floor-entry {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .add-floor {
    margin-top: 15px;
    margin-bottom: 80px;
  }

  .active-link {
    font-weight: bold;
  }
}

.sidenav-content {
  padding-top: 10px;

  .floor-header {
    padding-right: 16px;
    display: flex;
    align-items: center;
  }

  .expand-collapse-button {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.delete-button {
  margin-left: 15px;
}

.location-container {
  overflow: visible;
  position: fixed;
  height: 100%;
  width: 100%;
}

.create-floor-container {
  padding: 16px;
}
