.sidenav {
  min-width: 150px;
  max-width: 35%;
  padding: 0 16px;

  .floor-entry {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .add-floor {
    margin-top: 15px;
    margin-bottom: 80px;
  }

  .active-link {
    font-weight: bold;
  }
}

.sidenav-content {
  padding-top: 10px;
  overflow: visible;

  .floor-header {
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .find-marker {
      margin-left: 20px;
      width: 100%;
      max-width: 400px;
    }
  }

  .expand-collapse-button {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.action-button {
  margin-left: 15px;
}

.location-container {
  overflow: visible;
  position: fixed;
  height: 100%;
  width: 100%;
}

.create-floor-container {
  padding: 16px;
}

.report-content {
  padding-top: 20px;
  padding-bottom: 20px;

  .report-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    .report-radio-button {
      margin: 5px;
    }
  }
}
