<ng-container *ngIf="!(loaded$ | async) && !location; else loaded">
  <section class="my-1">
    <mat-spinner class="center-element"></mat-spinner>
  </section>
</ng-container>

<ng-template #loaded>
  <ng-container *ngIf="location; else notFound">
    <mat-sidenav-container class="location-container">
      <mat-sidenav class="sidenav" mode="side" [(opened)]="sidenavOpened">
        <h4>{{'Floors' | translate}}</h4>

        <section *ngFor="let floor of location.floors" class="floor-entry">
          <a mat-button [routerLink]="['/map', floor.locationId, floor.floorId]" routerLinkActive="active-link">
            {{floor.name}}
          </a>
        </section>

        <button mat-flat-button color="primary" class="add-floor"
                [disabled]="creatingFloor || editingFloor || requesting"
                (click)="creatingFloor = true">
          {{'AddFloor' | translate}}
        </button>
      </mat-sidenav>

      <mat-sidenav-content class="sidenav-content">
        <section class="floor-header">
          <button mat-icon-button class="expand-collapse-button" (click)="toggleSidenav()">
            <mat-icon>{{sidenavOpened ? 'chevron_left' : 'chevron_right'}}</mat-icon>
          </button>

          <h2>{{location.name}} {{!creatingFloor && selectedFloor ? ' - ' + selectedFloor.name : ''}}</h2>

          <div class="flex-spacer"></div>

          <ng-container *ngIf="location.canEdit && selectedFloor && !creatingFloor && !editingFloor">
            <button mat-button *ngIf="markersUpdated" [disabled]="requesting" (click)="saveMarkers()">
              <mat-icon>save</mat-icon>
              {{'SaveMarkers' | translate}}
            </button>

            <button class="action-button" mat-icon-button [disabled]="requesting" (click)="editFloor()">
              <mat-icon>edit</mat-icon>
            </button>

            <button class="action-button" mat-icon-button [disabled]="requesting" (click)="deleteFloor()">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </section>

        <app-view-floor
          *ngIf="selectedFloor && !creatingFloor && !editingFloor"
          (markersUpdated)="markersUpdated = $event"
          (errorOccurred)="showError()"
          (requesting)="requesting = $event"
          [floor]="selectedFloor"
          [canEdit]="location.canEdit"
          [labelOk]="labelOk"
          [labelCancel]="labelCancel"
          [labelMarkerDescription]="labelMarkerDescription$ | async"
          [labelInsertMarkerDescription]="labelInsertMarkerDescription$ | async"
        ></app-view-floor>

        <div class="create-floor-container">
          <app-create-floor
            *ngIf="creatingFloor || editingFloor"
            (cancel)="cancelCreateFloor()"
            (floorCreated)="reloadLocation(editingFloor ? selectedFloor.floorId : undefined)"
            [floor]="editingFloor ? selectedFloor : undefined"
            [isCancelVisible]="true"
            [labelOk]="labelOk"
            [locationId]="location.locationId"
            [labelErrorOccurred]="labelErrorOccurred"
          ></app-create-floor>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
</ng-template>

<ng-template #notFound>
  <h2 class="text-center">{{'NotFoundLocation' | translate}}</h2>
</ng-template>
