<ng-container *ngIf="!(loaded$ | async) && !(location$ | async); else loaded">
  <section class="my-1">
    <mat-spinner class="center-element"></mat-spinner>
  </section>
</ng-container>

<ng-template #loaded>
  <ng-container *ngIf="(location$ | async) as location; else notFound">
    <mat-sidenav-container>
      <mat-sidenav class="sidenav" mode="side" [(opened)]="sidenavOpened">
        <h4>{{'Floors' | translate}}</h4>

        <section *ngFor="let floor of location.floors">
          <a mat-button [routerLink]="['/map', floor.locationId, floor.floorId]">{{floor.name}}</a>
        </section>

        <button mat-flat-button color="primary" [disabled]="creatingFloor" (click)="creatingFloor = true">
          {{'AddFloor' | translate}}
        </button>
      </mat-sidenav>

      <mat-sidenav-content class="sidenav-content">
        <section class="floor-header">
          <button mat-button (click)="toggleSidenav()">
            <mat-icon>{{sidenavOpened ? 'chevron_left' : 'chevron_right'}}</mat-icon>
          </button>

          <div class="flex-spacer"></div>

          <ng-container *ngIf="location.canEdit">
            <button class="action-button" mat-icon-button (click)="editFloor()">
              <mat-icon>edit</mat-icon>
            </button>

            <button class="action-button" mat-icon-button (click)="deleteFloor()">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </section>

        <ng-container *ngIf="!creatingFloor; else createFloor"></ng-container>

        <ng-template #createFloor>
          <app-create-floor
            (cancel)="cancelCreateFloor()"
            (floorCreated)="loadLocation()"
            [isCancelVisible]="true"
            [labelOk]="labelOk$ | async"
            [locationId]="location.locationId"
            [labelErrorOccurred]="labelErrorOccurred$ | async"
          ></app-create-floor>
        </ng-template>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
</ng-template>

<ng-template #notFound>
  <h2 class="text-center">{{'NotFoundLocation' | translate}}</h2>
</ng-template>
