.app-container {
  margin-top: 30px;
  min-height: calc(100% - 158px);

  .google-button {
    background: #fff;
    font-size: 17px;
    padding: 10px;
    margin-top: 25px;

    img {
      position: absolute;
      left: 18px;
      top: 16px;
      height: 24px;
      width: 24px;
    }
  }
}
