.app-container {
  margin: 25px auto;
  min-height: calc(100% - 165px);
  max-width: 1000px;

  .home-header {
    position: relative;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .header-content {
      position: absolute;
      width: 100%;
      bottom: 50px;
    }
  }
}
