<h2 mat-dialog-title *ngIf="data.title">{{data.title}}</h2>

<div mat-dialog-content>
  <p *ngIf="data.body">{{data.body}}</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.inputModel" (keyup.enter)="onEnter()" [placeholder]="data.inputPlaceholder">
  </mat-form-field>
</div>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">{{data.cancelButtonLabel}}</button>
  <button mat-raised-button [color]="data.okButtonColor" [mat-dialog-close]="data.inputModel">{{data.okButtonLabel}}</button>
</mat-dialog-actions>
