<div [formGroup]="floorForm">
  <section>
    <mat-form-field class="full-width-field">
      <input matInput formControlName="name" [placeholder]="'FloorName' | translate" autocomplete="off" required>
    </mat-form-field>
  </section>

  <section>
    <mat-form-field class="full-width-field image-input">
      <ngx-mat-file-input formControlName="mapFile" [accept]="'image/*'" placeholder="{{'FloorImage' | translate}} {{floor ? '(' + ('LeaveBlankNotUpdate' | translate) + ')' : ''}}" [required]="!floor"></ngx-mat-file-input>
      <mat-icon matSuffix>image</mat-icon>
      <mat-error *ngIf="floorForm.get('mapFile').hasError('maxContentSize')">
        <div [translate]="'FileSizeError'"
             [translateParams]="{valueMax:(floorForm.get('mapFile')?.getError('maxContentSize').maxSize | byteFormat), valueCurrent:(floorForm.get('mapFile')?.getError('maxContentSize').actualSize | byteFormat)}">
        </div>
      </mat-error>
    </mat-form-field>
  </section>
</div>

<button mat-raised-button color="primary" class="button-create"
        [disabled]="floorForm.invalid || !floorForm.dirty || requesting"
        (click)="createFloor()">
  {{(floor ? 'EditFloor' : 'CreateFloor') | translate}}
</button>

<button mat-button class="button-cancel" *ngIf="isCancelVisible" (click)="cancelEdit()">
  {{'Cancel' | translate}}
</button>
