<div class="list-container">
  <mat-spinner *ngIf="!subscriptionPlans; else plans"></mat-spinner>

  <ng-template #plans>
    <mat-card class="card-container">
      <mat-card-header>
        <mat-card-title>
          {{'PlanTitle_free' | translate}}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        {{'PlanDescription_free' | translate}}
      </mat-card-content>
    </mat-card>

    <mat-card class="card-container" *ngFor="let plan of subscriptionPlans">
      <mat-card-header>
        <mat-card-title>
          {{'PlanTitle_' + plan.id | translate}}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <section>
          <mat-radio-group aria-label="Select an option" [(ngModel)]="yearlyBilling">
            <mat-radio-button value="0">{{'Monthly' | translate}}</mat-radio-button>
            <mat-radio-button value="1">{{'Annual' | translate}}</mat-radio-button>
          </mat-radio-group>
        </section>

        <section>
          <button mat-raised-button color="primary" (click)="openSubscription(plan.id)">{{'Select' | translate}}</button>
        </section>

        <p>{{'PlanDescription_' + plan.id | translate}}</p>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
