<mat-card class="app-container">
  <mat-card-header>
    <mat-card-title>
      {{'ActivePlan' | translate}}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <section class="plan-title">
      <span *ngIf="!(userInfo$ | async)?.chargebeePlanId; else subscriptionInfo">{{'PlanTitle_free' | translate}}</span>
    </section>
  </mat-card-content>
</mat-card>

<app-subscription-list [subscriptionPlans]="subscriptionPlans$ | async"></app-subscription-list>

<ng-template #subscriptionInfo>
  <span>{{'PlanTitle_' + (userInfo$ | async)?.chargebeePlanId | translate}}</span>
  <button mat-button color="primary" (click)="openPortal()">{{'Change' | translate}}</button>
</ng-template>
