.flex-spacer {
  flex-grow: 1;
}

.full-width-field {
  width: 100%;
}

.app-container {
  margin: 0 auto;
  padding: 15px 0;
  max-width: 500px;
}

.center-element {
  margin: 0 auto;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.text-center {
  text-align: center;
}
