<div class="app-container">
  <app-login *ngIf="(userInfo$ | async) == null; else loggedIn"></app-login>

  <ng-template #loggedIn>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'CreateNewLocation' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <app-create-location
          [labelOk]="labelOk$ | async"
          [labelErrorOccurred]="labelErrorOccurred$ | async"
        ></app-create-location>
      </mat-expansion-panel>
    </mat-accordion>

    <app-locations-list
      [locations]="myLocations$ | async"
    ></app-locations-list>
  </ng-template>
</div>
