<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened="opened" class="sidenav">
    <section class="menu-entry">
      <a mat-button routerLink="locations" routerLinkActive="active-link">{{'MyLocations' | translate}}</a>
    </section>

    <section class="menu-entry">
      <a mat-button routerLink="info" routerLinkActive="active-link">{{'AccountInfo' | translate}}</a>
    </section>

    <section class="menu-entry">
      <a mat-button routerLink="subscription" routerLinkActive="active-link">{{'Subscription' | translate}}</a>
    </section>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
