.sidenav-container {
  overflow: visible;
  min-height: calc(100% - 115px);
  .sidenav {
    min-width: 160px;
    max-width: 35%;
    padding: 25px 16px;

    .menu-entry {
      margin-top: 15px;
      text-align: center;
    }

    .active-link {
      font-weight: bold;
    }
  }
}
