<section class="section-container" *ngFor="let loc of locations; let i = index">
  <ng-container *ngIf="editIndex != i; else editLocation">
    <a mat-button [routerLink]="['/map', loc.locationId]">{{loc.name}}</a>

    <button class="action-button" mat-icon-button [disabled]="requesting" (click)="editItem(i)">
      <mat-icon>edit</mat-icon>
    </button>

    <button class="action-button" mat-icon-button [disabled]="requesting" (click)="deleteItem(loc)">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-container>

  <ng-template #editLocation>
    <mat-card class="edit-location">
      <mat-card-header>
        <mat-card-title>
          {{'Edit' | translate}} - {{loc.name}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-create-location
          [location]="loc"
          (cancel)="cancelEdit()"
          [labelOk]="labelOk"
          [labelErrorOccurred]="labelErrorOccurred"
          [isCancelVisible]="true"
        ></app-create-location>
      </mat-card-content>
    </mat-card>
  </ng-template>
</section>
