<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/">Spotyplace</a>

    <div class="flex-spacer"></div>

    <a *ngIf="(userInfo$ | async) == null; else loggedIn" mat-button [routerLink]="['/account']">
      {{'SignIn' | translate}}
    </a>
    <ng-template #loggedIn>
      <button mat-button class="menu-item" [matMenuTriggerFor]="menuProfile">{{(userInfo$ | async).fullName}}</button>
      <mat-menu #menuProfile="matMenu">
        <a mat-menu-item routerLink="/account">{{'MyAccount' | translate}}</a>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">{{'SignOut' | translate}}</button>
      </mat-menu>
    </ng-template>

    <button *ngIf="translate.currentLang" mat-button class="menu-item" [matMenuTriggerFor]="menuLanguage">
      <span class="flag-icon flag-icon-{{translate.currentLang}}"></span>
      <span>{{'Lang_' + translate.currentLang | translate}}</span>
    </button>
    <mat-menu #menuLanguage="matMenu">
      <button *ngFor="let lang of translate.langs" mat-menu-item (click)="switchLanguage(lang)">
        {{'Lang_' + lang | translate}}
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
