<mat-toolbar color="primary" class="desktop-menu">
  <mat-toolbar-row>
    <a mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      <span>Spotyplace</span>
    </a>

    <div class="min-medium contents-container">
      <ng-container *ngTemplateOutlet="myLocationsTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="pricingTemplate"></ng-container>
      <div class="flex-spacer"></div>
      <ng-container *ngTemplateOutlet="loginButtonTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="langMenuTemplate"></ng-container>
    </div>

    <div class="max-medium contents-container">
      <div class="flex-spacer"></div>
      <button mat-icon-button class="max-medium" (click)="openDialog()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #myLocationsTemplate>
  <a mat-button [routerLink]="['/account', 'locations']" routerLinkActive="active-link" *ngIf="(userInfo$ | async) != null">
    {{'MyLocations' | translate}}
  </a>
</ng-template>

<ng-template #pricingTemplate>
  <a mat-button [routerLink]="['/pricing']" routerLinkActive="active-link">
    {{'Pricing' | translate}}
  </a>
</ng-template>

<ng-template #langMenuTemplate>
  <ng-container *ngIf="displayLangMenu">
    <button *ngIf="translate.currentLang" mat-button class="menu-item" [matMenuTriggerFor]="menuLanguage">
      <span class="flag-icon flag-icon-{{translate.currentLang}}"></span>
      <span>{{'Lang_' + translate.currentLang | translate}}</span>
    </button>
    <mat-menu #menuLanguage="matMenu">
      <button *ngFor="let lang of translate.langs" mat-menu-item (click)="switchLanguage(lang)">
        <span class="flag-icon flag-icon-{{lang}}"></span>
        {{'Lang_' + lang | translate}}
      </button>
    </mat-menu>
  </ng-container>
</ng-template>

<ng-template #loginButtonTemplate>
  <a *ngIf="(userInfo$ | async) == null; else loggedIn" mat-button [routerLink]="['/account', 'login']">
    {{'SignIn' | translate}}
  </a>
</ng-template>

<ng-template #loggedIn>
  <button mat-button class="menu-item" [matMenuTriggerFor]="menuProfile">{{(userInfo$ | async).fullName}}</button>
  <mat-menu #menuProfile="matMenu">
    <a mat-menu-item routerLink="/account">
      <mat-icon>person</mat-icon>
      {{'MyAccount' | translate}}
    </a>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      {{'SignOut' | translate}}
    </button>
  </mat-menu>
</ng-template>

<ng-template #mobileTemplate>
  <div class="mobile-menu">
    <section>
      <div class="close-section">
        <div class="flex-spacer"></div>
        <button mat-icon-button (click)="closeDialog()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </section>
    <section>
      <ng-container *ngTemplateOutlet="myLocationsTemplate"></ng-container>
    </section>
    <section>
      <ng-container *ngTemplateOutlet="pricingTemplate"></ng-container>
    </section>
    <section>
      <ng-container *ngTemplateOutlet="loginButtonTemplate"></ng-container>
    </section>
    <section>
      <ng-container *ngTemplateOutlet="langMenuTemplate"></ng-container>
    </section>
  </div>
</ng-template>
