a, button {
  font-size: 16px;
}

.mobile-container {
  min-height: calc(100% - 128px);
  .mobile-sidenav {
    min-width: 160px;
    a, button {
      margin-top: 10px;
    }
  }
}

.desktop-container {
  display: contents;
}
