a, button {
  font-size: 16px;
  line-height: 48px;
}

.mat-toolbar-multiple-rows {
  min-height: 50px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 50px;
}

.contents-container {
  display: flex;
  flex-grow: 1;
}

.flag-icon {
  margin-right: 5px;
}

.mobile-menu {
  a, button {
    margin-top: 10px;
  }
  .close-section {
    display: flex;
  }
}

.desktop-menu {
  background-image: linear-gradient(#3487b0, #49afe1);

  .active-link {
    border-radius: 0;
    background-color: #2d789c;
  }
}
