.form-checkbox {
  margin-top: 8px;
  margin-bottom: 12px;
  display: flex;
}

.button-create {
  margin-top: 10px;
}

.button-cancel {
  margin-left: 10px;
}

.checkbox-icon {
  margin-left: 15px;
}

.checkbox-button {
  margin-top: -5px;
}
